/* --------------- LAZY BACKGROUND IMAGE ----------------- */
.lazy-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
}

/* -------------------- FORM WRAPPER -------------------- */
.form-wrapper {
	gap: var(--space);
	padding: 2rem;
}

.form-wrapper > h3 {
	font-size: 1.5rem;
}

.form-wrapper > form {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.form-wrapper > form input {
	border: 1px solid var(--light-black);
}

/* -------------------- FORM MESSAGE --------------------- */

.form-message {
	display: none;
	position: relative;
	padding: 0.5rem var(--space);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
}

.form-message::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.2;
	pointer-events: none;
	z-index: 0;
}

.form-message > * {
	position: relative;
	z-index: 1;
}

.form-message.success::before {
	background-color: var(--green);
}

.form-message.error::before {
	background-color: var(--red);
}

/* ---------------- PASSWORD TOGGLE WRAPPER ---------------- */
.password-toggle-wrapper {
	position: relative;
}

.password-toggle-wrapper > img {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	z-index: 10;
	cursor: pointer;
}

/* --------------------- LINE DIVIDER --------------------- */
.line-divider > hr {
	width: 100%;
}

.line-divider > p {
	top: -13px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 5px;
}

/* --------------- OAUTH PROVIDER LINK BOX --------------- */
.oath-provider-link,
.oath-provider-link > div {
	display: flex;
}

.oath-provider-link {
	gap: var(--space);
}

.oath-provider-link > div {
	flex: 1 1 0;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--light-black);
	padding: 5px 15px;
	border-radius: var(--border-radius);
}

.oath-provider-link > div > img {
	height: 32px;
	width: 32px;
	margin-right: 5px;
}

.oath-provider-link > div > h3 {
	color: var(--black);
}

/* --------------- HEADER WITH BACK NUTTON --------------- */
.header-w-back {
	position: relative;
}

.header-w-back > h1,
.header-w-back > h3 {
	text-align: center;
}

.header-w-back > img {
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translate(0, -50%);
	cursor: pointer;
}

/* ------------------------ MODAL ------------------------ */

.modal-wrapper,
.modal-wrapper::before {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.modal-wrapper,
.modal-wrapper > * {
	z-index: 100;
}

.modal-wrapper,
.modal-wrapper > div.dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space);
}

.modal-wrapper {
	display: none;
	background-color: transparent;
}

.modal-wrapper::before {
	content: '';
	background-color: var(--black);
	opacity: 0.5;
}

.modal-wrapper h1 {
	font-size: 2rem;
	font-weight: 800;
}

.modal-wrapper p {
	font-size: 1.2rem;
	font-weight: 300;
}

.modal-wrapper > div {
	box-sizing: content-box;
	background-color: var(--white);
	padding: var(--space);
	box-shadow: 0 0 1px 1px var(--light-black);
}

/* DIALOG ------------ */
.modal-wrapper > div.dialog {
	flex-direction: column;
	width: 350px;
	padding: 2rem;
}

/* --------------- ICON WITH NOTIFICATION BADGE --------------- */

.icon-w-badge {
	position: relative;
}

.icon-w-badge > p {
	background-color: var(--white);
	position: absolute;
	top: -5px;
	right: -8px;
	display: grid;
	place-items: center;
	box-sizing: content-box;
	border: 3px solid var(--black);
	border-radius: 50%;
	font-size: 0.8rem;
}

/* ----------------- PRODUCT CARD & PRODUCT LIST ----------------- */

.product-list {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-content: stretch;
	place-items: center;
	gap: 25px;
}

.product-card,
.product-card > span {
	display: flex;
}

.product-card {
	width: 250px;
	height: 350px;
	background-color: var(--white);
	flex-direction: column;
	gap: 5px;
	padding: 10px;
	border: 1px solid transparent;
}

.product-card:hover {
	border: 1px solid var(--black);
}

.product-card * {
	color: var(--black);
}

.product-card > img {
	width: 100%;
	object-fit: cover;
}

.product-card > span {
	margin-top: auto;
}

.product-card > span > * {
	flex: 1 1 0;
	width: 100%;
}

.product-card > span > p:nth-child(1) {
	color: var(--blue);
	font-weight: 600;
}

.product-card > span > p:nth-child(2) {
	text-align: right;
}