.banner {
	background-image: url(../asset/image/devices.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
}

/* -------------------- FORM WRAPPER -------------------- */
.form-wrapper {
	gap: var(--space);
	padding: 2rem;
}

.form-wrapper > form {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.form-wrapper > form > h3 {
	font-size: 1.5rem;
}

.form-wrapper > form input {
	border: 1px solid var(--light-black);
}

/* ---------------- PASSWORD TOGGLE WRAPPER ---------------- */
.password-toggle-wrapper {
	position: relative;
}

.password-toggle-wrapper > img {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	z-index: 10;
	cursor: pointer;
}

/* --------------------- LINE DIVIDER --------------------- */
.line-divider > hr {
	width: 100%;
}

.line-divider > p {
	top: -13px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 5px;
}

/* --------------- OAUTH PROVIDER LINK BOX --------------- */
.oath-provider-link,
.oath-provider-link > div {
	display: flex;
}

.oath-provider-link {
	gap: var(--space);
}

.oath-provider-link > div {
	flex: 1 1 0;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--light-black);
	padding: 5px 15px;
	border-radius: var(--border-radius);
}

.oath-provider-link > div > img {
	height: 32px;
	width: 32px;
	margin-right: 5px;
}

.oath-provider-link > div > h3 {
	color: var(--black);
}
