.footer * {
	color: var(--white);
}

.footer-links {
    flex-wrap: wrap;
}

.footer-links > * {
    width: 200px;
	line-height: 2rem;
}

.footer-static {
    margin-top: var(--space);
    gap: 15px;   
}
