.outside-header > h3 {
	font-size: 2rem;
}

.outside-header img {
	height: 3rem;
	margin-left: 5rem;
	margin-right: 10px;
}

.top-link-section > * {
	flex: 1;
	gap: 0.5rem;
}

.link-w-icon {
	gap: 7px;
}
