.home main {
	padding: 0;
}

.home main > * {
	padding: var(--space) var(--content-side-padding);
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.fade {
	animation: fade 1s ease forwards;
}

.slide-show-wrapper {
	height: 300px;
	width: 100%;
}

.slide-show {
	width: 100%;
	object-fit: cover;
}

.slide-show-wrapper:hover .change-button {
	visibility: visible;
}

.change-button,
.dot-tab {
	opacity: 0.5;
	z-index: 50;
	cursor: pointer;
}

.change-button:hover,
.dot-tab:hover {
	opacity: 1;
}

.change-button {
	visibility: hidden;
	width: 30px;
	height: 30px;
	top: 50%;
	transform: translate(0, -50%);
}

.change-button > img {
	margin-left: 5px;
}

.change-button.previous {
	transform: scaleX(-1);
}

.change-button.next {
	right: 0;
}

.slide-show-wrapper > span {
	gap: 10px;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}

.dot-tab {
	width: 10px;
	height: 10px;
}

.dot-tab.active {
	opacity: 1;
}

.category-section {
	flex-wrap: nowrap;
	margin-top: 2.5rem;
}

.category-card > h3 {
	margin-top: 20px;
	max-width: 15ch;
	font-size: 1rem;
	font-weight: 500;
}

.home-section-heading {
	background-color: var(--white);
	padding: 10px 1rem;
	border-bottom: 3px solid var(--black);
	margin-bottom: var(--space);
}

.featured-item,
.carousel-wrapper > section {
	display: flex;
}

.featured-item {
	flex-direction: column;
	gap: var(--space);
}

.featured-item * {
	color: var(--black);
}

.carousel-wrapper {
	position: relative;
}

.carousel {
	flex-wrap: nowrap;
	gap: 5px;
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.carousel > .product-card,
.carousel > .store-card {
	flex: none;
}

.carousel-wrapper .tracker {
	background-color: var(--white);
	position: absolute;
	top: 50%;
	padding: 5px;
	opacity: 0.5;
	cursor: pointer;
	z-index: 2;
}

.carousel-wrapper .tracker:hover {
	opacity: 1;
}

.carousel-wrapper .tracker.left {
	transform: scaleX(-1);
}

.carousel-wrapper .tracker.right {
	right: 0;
}

.top-product-section {
	position: relative;
}

.store-card {
	width: 250px;
	height: 350px;
	overflow: hidden;
	border: 1px solid transparent;
}

.store-card:hover {
	border: 1px solid var(--black);
}

.store-card > img {
	width: 100%;
	padding: 10px;
}

.discover-more-section > .product-list {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-content: stretch;
	place-items: center;
	gap: 25px;
}

.page-tab {
	margin-top: 3rem;
	gap: 5px;
}

.page-tab > * {
	width: 30px;
	height: 30px;
	background-color: transparent;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.page-tab > p.active {
	color: var(--white);
	background-color: var(--blue);
}

.page-tab > img.previous {
	transform: scaleX(-1);
}

.article-list {
	gap: var(--space);
}

.article-list * {
	color: var(--black);
}

.article-list > div {
	gap: 20px;
}

.article-list > div > * {
	flex: 1 1 0;
}

.article > h3 {
	font-size: 1.5rem;
	font-weight: 800;
	margin-bottom: 1rem;
}

.article p {
	line-height: 1.6;
}

.article > ul {
	padding-inline-start: 0;
}

.article li {
	list-style: disc;
	list-style-position: inside;
	padding-left: 1.5em;
	text-indent: -1.4em;	
}
