.index .form-wrapper{
    max-width: 400px;
}

.index .lazy-bg,
.right-pane,
.left-pane {
    flex: 1 1 0;
}

.index .lazy-bg {
    padding: 8rem var(--space);
    height: 100vh;
}

.index .lazy-bg > section {
    width: 80%;
}

.right-pane {
    gap: var(--space);
    font-size: 1.5rem;
}

.agreement {
    width: 80%;
}