.page-info > main > section {
    padding: var(--space);
}

.purchase-info {
    gap: 1rem;
}

.images-section {
	width: 30rem;
    gap: 10px;
}

.images-section img {
	aspect-ratio: 1 / 1;
	object-fit: contain;
    background-color: var(--dark-white);
}

.images-section > .featured-image {
	width: 100%;
}

.image-collection > .carousel > img {
	width: calc(30rem / 4);
	height: auto;
}

.misc_section {
    gap: var(--space);
}

.misc_section > * {
    gap: 5px;
}

.misc_section > * > * {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500; 
}

.misc_section > .text-w-icon > img {
    margin-right: 0;
}

.info-section {
    flex: 1;
}

.product-name {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.misc-info {
    gap: var(--space);
}

.misc-info > :last-child {
    flex: 1;
}

.rating-stars {
    margin-left: 8px;
}

