.page-info,
.page-info > main {
	width: fit-content;
}

.page-info > main {
	padding-top: var(--space);
	padding-bottom: var(--space);
	gap: var(--space);
}

.page-info .major-section {
	padding: var(--space);
}

.page-info .grid {
	place-items: center;
	justify-items: start;
}

.page-info .grid * {
	color: var(--black);
}

.button-section {
	gap: 1rem;
}

.thin-button,
.thin-button * {
	font-weight: 500;
}

.thin-button {
	width: 20ch;
	margin: 0;
	border: 1px solid var(--black);
	border-radius: 1px;
}

.add-to-cart-button,
.chat-button {
	position: relative;
	border: 1px solid var(--blue);
	z-index: 10;
}

.add-to-cart-button::before,
.chat-button::before {
	background-color: var(--blue);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	z-index: 5;
}

.shipping-section,
.option-section,
.quantity-section {
	width: fit-content;
	height: fit-content;
	row-gap: 1rem;
}

/* Purchase Info */

.purchase-info {
	gap: var(--space);
}

.images-section {
	width: 30rem;
	gap: 10px;
}

.images-section img {
	aspect-ratio: 1 / 1;
	object-fit: contain;
}

.images-section > .featured-image {
	width: 100%;
}

.image-collection > .carousel > img {
	width: calc(30rem / 4);
	height: auto;
	cursor: pointer;
}

.misc_section {
	gap: var(--space);
}

.misc_section > * {
	gap: 5px;
}

.misc_section > * > * {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
}

.misc_section > .text-w-icon > img {
	margin-right: 0;
}

.info-section {
	flex: 1;
}

.info-section > *:not(:last-child) {
	margin-bottom: var(--space);
}

.info-section .product-name {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.misc-info {
	gap: var(--space);
}

.misc-info > :last-child {
	flex: 1;
}

.rating-stars {
	margin-left: 8px;
}

.product-price {
	padding: 1rem;
	border-radius: var(--border-radius);
}

.product-price > h3 {
	font-size: 2rem;
	font-variant-numeric: tabular-nums;
}

.shipping-section {
	grid-template-columns: auto auto auto auto;
	column-gap: 10px;
}

.option-section {
	column-gap: 0.5rem;
}

.grid > .title,
.shipping-section > .icon,
.shipping-section > .sub-title.upper,
.shipping-section > .form,
.option-section > .buttons,
.quantity-section > div {
	grid-row: 1;
}

.shipping-section > .sub-title.lower,
.shipping-section > .fee {
	grid-row: 2;
}

.grid > .title {
	width: 8ch;
	grid-column: 1;
	column-gap: 1rem;
}

.shipping-section > .icon,
.option-section > .buttons,
.quantity-section > div {
	grid-column: 2;
}
.shipping-section > .sub-title.upper,
.shipping-section > .sub-title.lower {
	grid-column: 3;
}
.shipping-section > .form,
.shipping-section > .fee {
	grid-column: 4;
}

.info-section input {
	padding: 5px 10px;
}

.option-section {
	max-width: 75%;
	grid-template-columns: auto auto auto;
}

.option-form {
	gap: 1rem;
}

.option-form > .hidden-wrapper > input[type='checkbox'] {
	display: none;
}

.option-form > .hidden-wrapper > button {
	display: grid;
	place-items: center;
	padding: 5px 10px;
	border: 1px solid var(--black);
}

.option-form > .hidden-wrapper > button:hover {
	border: 1px solid var(--blue);
	color: var(--blue);
}

.quantity-section > div {
	gap: 5px;
}

/* Store Info */

.store-info {
	gap: 2.5rem;
	box-sizing: content-box;
}

.store-logo {
	height: 100%;
}

.store-logo > img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.store-name {
	width: 100%;
	font-size: 1.5rem;
}

.chains,
.chains > .buttons {
	gap: 10px;
}

.chains > .buttons > button,
.chains > .buttons > a {
	width: 15ch;
	padding: 5px;
}

.chains > .buttons > a {
}

.store-details {
	flex: 1;
	grid-template-columns: auto auto;
	column-gap: var(--space);
	margin-left: var(--space);
}

.store-details > section {
	width: 100%;
	height: 100%;
}

.store-details > section * {
	font-size: 1rem;
}

.store-details > section > h3 {
	color: var(--blue);
	font-weight: 600;
}

.store-details > .first-col {
	grid-column: 1;
}

.store-details > .first-col:first-child {
	grid-row: 1;
}

.store-details > .first-col:nth-child(2) {
	grid-row: 2;
}

.store-details > :last-child {
	grid-column-end: 3;
	grid-row: 3;
}

.store-details > .second-col {
	grid-column: 2;
}

.store-details > .second-col:first-child {
	grid-row: 1;
}

.store-details > .second-col:nth-child(2) {
	grid-row: 2;
}

/* Description Section */

.description-info,
.description-section {
	height: fit-content;
}

.description-info > :first-child {
	margin-bottom: var(--space);
}

.description-info .section-title {
	padding: 0.8rem 1rem;
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
}

.specification-section > .content {
	gap: 10px;
}

.specification > :first-child {
	width: 20ch;
}

.specification > :last-child {
	flex: 1;
}

.specification > .category-chain {
	overflow: hidden;
}

.description-section > .content {
	gap: 10px;
}

.description-section > .content * {
	color: var(--black);
	line-height: var(--space);
}

.description-section > .content img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Rating Section */

.rating-list-wrapper {
	gap: 1rem;
}

.rating-list-wrapper .date {
	font-size: 0.8rem;
	font-weight: 300;
}

.rating-count {
	font-weight: 400;
}

.rating-list-wrapper > .heading {
	gap: var(--space);
}

.rating-overview {
	width: fit-content;
}

.average-rating {
	font-size: 2.5rem;
}

.out-of-rating {
	font-size: 2rem;
}

.rating-overview > .rating-stars {
	margin: 0;
	justify-content: start;
	gap: 8px;
}

.star-filter-buttons {
	max-width: 35%;
	width: fit-content;
}

.star-filter-buttons > form {
	gap: 1rem;
}

.star-filter-buttons input[type="checkbox"] {
	display: none;
}

.star-filter-buttons button {
	min-width: 7ch;
	width: fit-content;
	padding: 5px 10px;
	border: 1px solid var(--black);
}

.star-filter-buttons button.active {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
}

.rating-list > .list {
	min-height: var(--min-height);
	gap: 1rem;
}

.rating-card {
	width: 100%;
}

.rating-card > .user-profile {
	margin-right: 10px;
}

.rating-card > .user-profile > {
	object-fit: cover;
}

.rating-card > .main-content {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.rating-card > .main-content > .rating-info {
	gap: 5px;
}

.rating-card .rating-stars {
	margin: 0;
	justify-content: start;
}

.rating-content > .comment {
	margin-bottom: 10px;
}

.rating-content > .images {
	gap: 10px;
}

.rating-content > .images > img {
	width: 7rem;
	height: 5rem;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.rating-reply {
	padding: 10px;
}

.rating-reply > :nth-child(2) {
	margin: 5px 0;
}

.like-rating {
	display: grid;
	place-items: center;
	margin-right: 3px;
}

.recommended-products > h1 {
	margin-bottom: 10px;
}