:root {
    --white: #FFFEFE;
    --light-blue: #89d6fb;
    --blue: #02a9f7;
    --black: #01303F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}