:root {
	--white: #fffefe;
	--dark-white: #f5f5f5;
	--light-blue: #89d6fb;
	--blue: #02a9f7;
	--light-black: #dbdbdb;
	--black: #01303f;
	--red: #ff6969;
	--green: #38ff5d;
	--yellow: #ffb61e;

	--space: 1.5rem;

	--border-radius: 3px;

	--content-side-padding: 5rem;

	--min-height: 600px;
	--min-width: 1024px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-width: var(--min-width);
	min-height: var(--min-height);

	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

header,
main,
footer {
	min-width: var(--min-width);

	padding: 0 var(--content-side-padding);
}

header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

footer {
	padding-top: var(--space);
	padding-bottom: var(--space);
}

a {
	text-decoration: none;
}

p {
	white-space: normal;
}

li {
	list-style: none;
}

input,
button {
	display: block;
	width: 100%;
	padding: 8px;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	font-size: 1rem;
}

button {
	font-weight: 800;
}

button:hover {
	cursor: pointer;
}
