.single-form {
    max-width: 500px;
    box-shadow: 0 0 1px 2px var(--light-black);
    border-radius: var(--border-radius);
    gap: 2rem;
    padding: 3rem 3.5rem;
}

.single-form h3 {
    font-size: 2rem;
}

.password-list-validator {
    gap: 10px;
}

.password-list-validator > li {
    max-width: 40ch;
}