.store > main {
    padding: 0;
}

.store > main > section {
	padding: var(--space) var(--content-side-padding);
}

.store-info > img {
	border: 3px solid var(--dark-white);
	margin-right: 2rem;
}

.store-info > div {
	gap: 5px;
}

.store-name {
    max-width: 20ch;
	line-height: 1;
	font-size: 1.8rem;
}

.misc-info > :first-child,
.store-info .buttons .text-w-icon > img {
	margin-right: 5px;
}

.store-info .buttons {
	gap: 10px;
}

.store-info .buttons > button {
	min-width: 15ch;
	display: grid;
	place-items: center;
	padding: 5px 10px;
	border: 1px solid var(--black);
}

.additional-info {
	flex: 1;
    margin-left: 3rem;
    gap: 1rem;
}

.search-store-form {
	width: 100%;
    height: fit-content;
}

.search-store-form input {
	padding: 10px;
	border: 1px solid var(--black);
}

.search-store-button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
    opacity: 0.8;
}

.search-store-button > img {
    padding: 3px;
}

.additional-info > .info-grid {
    grid-template-columns: auto auto;
    gap: 5px 10px;
}

.additional-info > .info-grid > .key {
    max-width: 10ch;
}

.additional-info > .info-grid {
    grid-template-columns: 10ch auto;
}

.store > main > .content {
	gap: var(--space);
}

.infinite-list {
	gap: var(--space);
}

.infinite-list > aside {
	min-width: 200px;
	width: fit-content;
	height: fit-content;
	padding: var(--space);
	top: 10px;
}

.infinite-list > aside > .text-w-icon {
	margin-bottom: 1rem;
}

.collection-form {
	gap: 1rem;
}

.collection-form > button {
	color: var(--black);
	border-bottom: 2px solid transparent;
}

.collection-form > button.active {
	border-bottom: 2px solid var(--blue);
}

.infinite-list > .result-grid
{
	min-height: 600px;
	width: 100%;
}

.infinite-list > .result-grid > .sentinel {
	height: 1px;
}

.infinite-list .result-grid > .no-more-products {
	display: none;
	margin-top: 1rem;
	font-weight: 200;
}
