/* --------TEXT COLOR-------- */
.black-text {
    color: var(--black);
}

.blue-text {
    color: var(--blue);
}

.white-text {
    color: var(--white);
}

/* --------BG COLOR-------- */

.black-bg {
    background-color: var(--black);
}

.blue-bg {
    background-color: var(--blue);
}

.white-bg {
    background-color: var(--white);
}

/* --------DISPLAY-------- */

.inline {
    display: inline-block;
}

.block {
    display: block;
}

/* --------FLEX DISPLAY-------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-child-center-v {
    display: flex;
    justify-content: center;
}

.flex-child-center-h {
    display: flex;
    align-items: center;
}

/* --------POSITION ELEMENT-------- */

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------ELEMENT POSITION-------- */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* --------TEXT ALIGNMENT-------- */

.center-text {
    text-align: center;
}