.location-permission-modal .description {
    font-size: 1.1rem;
}

.location-permission-modal .reasons-list {
    margin-left: 5px;
    line-height: 1.6rem;
    font-weight: 200;
}

.location-permission-modal .reasons-list > li {
    list-style: disc;
    list-style-position: inside;
}

.location-permission-modal > .buttons {
    width: 100%;
    gap: 10px;
}