/* Header */

.shopping-cart > header {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.shopping-cart .header-w-back > div {
	margin-left: 1rem;
}

.shopping-cart .header-w-back > div > h3 {
	font-weight: 400;
}

/* Main */

.shopping-cart > main {
	padding-top: var(--space);
	padding-bottom: var(--space);
}

/* Table / Form */

.shopping-cart-form {
	min-height: 250px;
	width: 100%;
}

.shopping-cart-form > section,
.shopping-cart-form > section > fieldset,
.shopping-cart-form .unconnected-row:not(:last-child) {
	margin-bottom: var(--space);
}

.shopping-cart-form input[type='checkbox'] {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.shopping-cart-form .table-row {
	padding: 15px 20px;
}

.table-header.grid,
.item-info.grid {
	grid-template-columns: 500px repeat(4, calc((100% - 500px) / 4));
}

.shopping-cart-form > section > fieldset {
	border: 0;
}

.item-grouped-list > section:not(:last-child) {
	border-bottom: 3px solid var(--dark-white);
}

.product-image {
	margin-right: 10px;
}

.quantity-input {
	width: 15ch;
	border: 1px solid var(--black);
	padding: 3px 8px;
}

.option-selection-container {
	margin: 5px 0;
}

.option-selection-container > label {
	margin-right: 8px;
}

.option-selection-container > select {
	padding: 3px 5px;
	border: 1px solid var(--black);
	border-radius: 0;
}

.proceed-checkout {
	bottom: 0;
}

.proceed-checkout > section {
	flex: 1 1 0;
}

.payment-summary {
    margin-right: var(--space);
	font-size: 1.2rem;
}

.checkout-cart-button {
    width: 20ch;
}
